body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  position: bottomright;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.info.legend .legend-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.info.legend i {
 width: 20px;
 height: 20px;
 margin-right: 5px;
 display: inline-block;
 border: 1px solid transparent;
}

/* Style the legend colors */
.info.legend i:nth-child(1) { background: rgba(163,246,0,255);}
.info.legend i:nth-child(2) { background: rgba(220, 244, 0, 255);}
.info.legend i:nth-child(3) { background: rgba(247, 219, 17, 255);}
.info.legend i:nth-child(4) { background: rgba(253, 183, 42, 255);}
.info.legend i:nth-child(5) { background: rgba(252, 163, 93, 255);}
.info.legend i:nth-child(6) { background: rgba(255, 95, 101, 255);}